*.py[cod]

target/scala-2.11/classes/
target/scala-2.11/resolution-cache/
target/scala-2.11/streams/
target/streams/

project/project/
project/target/

.ipynb_checkpoints/

*.iml
*.class
*.log
.idea
.iml
.cache
.history
.lib/
.scala_dependencies
.worksheet
